name: Prod Release Lambda Layer

on:
  push:
    tags:        
      - '*'  

jobs:
  prod-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.DT_GH_ACTIONS_PROD_ROLE_ARN }}
          aws-region: eu-west-2
          role-duration-seconds: 1800
      - name: Get Version
        id: get_version
        run: |
          echo "Get the version from ./lambdalayer/one-agent-version/VERSION"
          RELEASE_VERSION=$(cat ./lambdalayer/one-agent-version/VERSION)
          echo "Release Version is $RELEASE_VERSION"
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_OUTPUT
      - name: Run Deploy Layer Prod
        run: |
          echo "Deploying $RELEASE_VERSION to the $ENV layer."
          ./lambdalayer/deploy-layer.sh
        env:
          AWS_DEFAULT_REGION: eu-west-2
          AWS_REGION: eu-west-2
          ENV: prod
          RELEASE_VERSION: ${{ steps.get_version.outputs.RELEASE_VERSION }}
