name: Update Lambda Layers
# This workflow runs early on the 3rd of every month.
# It runs the copy-layer.sh bash script for prod and nonprod

on:
  schedule:
    # Run at 02:11 on the third day of the month
    # 11 minutes past to avoid the on the hour surge in demand
    - cron:  '11 2 3 * *'
  workflow_dispatch:

jobs:
  prod:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # 216552277552
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.DT_GH_ACTIONS_PROD_ROLE_ARN }}
          aws-region: eu-west-2
          role-duration-seconds: 1800
      - name: Run Copy Layer
        run: |
          ./lambdalayer/copy-layer.sh
        env:
          AWS_DEFAULT_REGION: eu-west-2
          AWS_REGION: eu-west-2